.Tilt {
    margin-top: 1rem;
    padding: 0;
    font-family: sans-serif;
    background: linear-gradient(89deg, #edc1b6 0%, #bac8c9 100%);
    border-radius: 50%;
}

#logo-img {
    padding-left: 1.5rem;
    margin-top: 1.5rem;
    margin-bottom: 1;
}

#title {
    font-size: 70px;
    font-family: 'Pacifico', cursive;
    padding-bottom: 1.5rem;
}